<div class="container">
	
	<div class="page-header">
		<h1>Sign up to Blocipedia today<small> ...get your wiki on!</small></h1>
	</div>

	<div class="container">


 	<div class="row">
		<ul class="nav nav-pills">
			<li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
			<li><a href="#premium" data-toggle="tab">Premium</a></li>
		</ul>
		<div class="tab-content">
			
			<div class="tab-pane active" id="basic">
			<h3>Basic Account  <h4><span class="label label-warning">Free!</span></h4></h3>
          	<p>Our most popular subscription type - get started immediately, no need for credit card details, just sign up and get contributing!</p>			
          	</div>
			
			<div class="tab-pane" id="premium">
			<h3>Premium Account <h4><span class="label label-warning">$5 / mth</span></h4></h2>
          	<p>Go Premium and get more - includes all the features of a basic account, plus create private wikis only your trusted contributors can see.</p>
  			</div>
		
		</div>
	</div>

	</div>


 <hr class="divider">

<div class="row">
	<div class="col-md-6">

	<%= form_for :user, url: '/users' do |f| %>
		
	<div class="form-group">
		<%= f.label :username %>
		<%= f.text_field :username, class: 'form-control', placeholder: "Enter a username"  %>
	</div>
	
	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email, class: 'form-control', placeholder: "Enter your email address" %>
	</div>
	
	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control', placeholder: "Enter a password" %>
	</div>
	
	<div class="form-group">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm your password" %>
	</div>
	
	<div class="form-group">
		<%= f.submit "Sign up", class: 'btn btn-primary' %>
	</div>
	<% end %>
	
	</div>

</div>