<div class="container">

	<div class="page-header">
		<h1>Update your wiki<small> ...change is good!</small></h1>
	</div>

<div class="row">
	<div class="col-md-8">

	<%= form_for @wiki do |f| %>

		<input type="hidden" name="col-ids" id="col-ids">

		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control' %>
		</div>

		<!--epic editor js inserted here -->

		<!--<script src="epiceditor.min.js"></script>-->

		<div class="form-group">
			<%= f.label :body %>
			<%= f.text_area :body, rows: 12, class: 'form-control' %>
		</div>
		
		<!--<script type="text/javascript">

		var editor = new EpicEditor().load();

		</script>-->
		
		<!--epic editor js inserted here -->

		<div class="form-group">
			<%= f.submit "Update", class: 'btn btn-success', id: 'add-collaborators' %>
		</div>
		
		<% if current_user.role == 'admin' || current_user.role == 'premium' %>
			<div class="form-group">
					<%= f.check_box :private %> Private wiki
					<%= f.label :private, class: 'checkbox' do %>
					<% end %>
			</div>

			<hr class="divider">

		<h4>Add collaborators</h4>

			<ul id="list-group">
			<% @users.each do |user| %>
	  				<li class="list-group-item" input type="col-id" id="<%= user.id %>">
	  					<%= f.label :collaborator, class: 'checkbox' do %>
	  					<%= f.check_box :user_id %>
	  					<%= user.username %>
	  					<% end %>
	  				</li>
			<% end %>
			</ul>	
<!--This is my working javascript -->

<script>

function checkArray(array, id){
  var index = array.indexOf(id);
  if(index > -1){
  array.splice(index, 1);
  }
  else{
  array.push(id);
  }
  console.log(array);
  return array;
  }

$(document).ready(function() {
  var selected = []
	$('#list-group li').click( function () {
  		checkArray(selected, this.id );
  	} );
	$('#add-collaborators').click( function () {
  $('#col-ids').val(selected);
  } );
});

</script>

<!--This is the end of my working javascript -->

		<% end %>

	<% end %>
	
	</div>
</div>

</div>