<div class="container">

	<div class="page-header">
		<h1>Update your wiki<small> ...change is good!</small></h1>
	</div>

<div class="row">
	<div class="col-md-8">

	<%= form_for @wiki do |f| %>

		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :body %>
			<%= f.text_area :body, rows: 12, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.submit "Update", class: 'btn btn-success' %>
		</div>
	
	<% end %>
	
	</div>
</div>

</div>